nav {
  font-size: 20px;
  background-color: aquamarine;
  padding: 5px;
  text-align: center;
}

a {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  text-align: center;
}

button {
  width: 10%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#delete {
  width: 10%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#newpost {
  display: inline;

}

input[type=text] {
  width: 20%;
  height: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=search] {
  width: 30%;
  
}
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
} */