nav {
  font-size: 20px;
  background-color: darksalmon;
  padding: 5px;
  text-align: center;
  color: white
}

a {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  text-align: center;
  color: white;
}

button {
  width: 10%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#delete {
  width: 10%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#newpost {
  display: inline;

}

input[type=text] {
  width: 20%;
  height: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* outline: 1rem solid; */
  /* color: white; */
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=search] {
  width: 30%;
  
}

#home {
  text-align: center;
}

#message {
  background-color: burlywood;
}

div {
  background-color: blanchedalmond;
  outline:  solid;
}

.posts {
  color: skyblue;
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
}

#deliver {
  margin-right: 10px;
}

#create {
  font-size: larger;
}

#login {
  color: black;
}